In [3]:
import numpy as np

np.random.seed(7078)
scores = np.random.randint(50,101, size=(50,5))
scores

array([[ 95,  92,  97,  65,  88],
       [ 98,  90,  85,  86,  79],
       [ 99,  65,  93,  56,  65],
       [ 67,  56,  95,  68,  71],
       [ 98,  60,  84,  92,  77],
       [ 51,  50,  80,  94,  65],
       [ 98,  58,  96,  86,  53],
       [ 98,  54,  63,  73,  87],
       [ 56,  69,  68,  94,  70],
       [ 71,  56, 100,  63,  81],
       [ 89,  62,  63,  83,  64],
       [ 91,  50,  78,  94,  78],
       [ 78,  56,  88,  83,  81],
       [ 53,  52,  81,  76,  82],
       [ 59,  78,  98,  59,  92],
       [ 78,  69,  88,  53,  80],
       [ 86,  84,  96,  73,  78],
       [ 98,  69,  78,  90,  76],
       [ 79,  61,  89,  56,  59],
       [ 72,  84,  52,  65,  95],
       [ 60,  87,  50,  69,  82],
       [ 98,  70,  99,  92,  73],
       [ 85,  74,  58,  60,  67],
       [ 57,  61, 100,  71,  53],
       [ 83,  97,  79,  72, 100],
       [ 53, 100,  69,  70,  84],
       [ 69,  52,  50,  94,  83],
       [ 68,  62,  68,  67,  61],
       [ 51,  96,  75,  82,  51],
       [ 92,  54,  53,  95,  63],
       [ 70,  74,  75,  97,  50],
       [ 55,  95,  57,  95,  58],
       [ 53,  63,  59,  81,  50],
       [ 54,  84,  59,  86,  54],
       [ 68,  95,  92,  82,  59],
       [ 68, 100,  76,  77,  97],
       [ 97,  68,  61,  53,  73],
       [ 97,  94,  55,  73, 100],
       [ 66,  84,  76,  88,  87],
       [ 82,  66,  68,  81,  56],
       [ 53,  59,  62,  94,  58],
       [ 65,  78,  67,  62,  95],
       [ 78,  91,  53,  90,  92],
       [ 90, 100,  90,  99,  95],
       [ 72,  71,  93,  90, 100],
       [ 80,  69,  60,  82,  77],
       [ 69,  97,  68,  54,  79],
       [ 96,  95,  97,  72,  61],
       [ 73,  57,  71,  84,  95],
       [ 81,  78,  79,  95,  66]], dtype=int32)

In [4]:
import pandas as pd

df = pd.DataFrame(scores,columns=["國文","英文","數學","生物","物理"],index=[f"學生{x}" for x in range (1,51)])
type(df)

pandas.core.frame.DataFrame

In [5]:
[x**2 for x in range(10) if x < 4]

[0, 1, 4, 9]

In [6]:
df.columns.name = "科目"
df.index.name = "姓名"
df

科目    國文   英文   數學  生物   物理
姓名
學生1   95   92   97  65   88
學生2   98   90   85  86   79
學生3   99   65   93  56   65
學生4   67   56   95  68   71
學生5   98   60   84  92   77
學生6   51   50   80  94   65
學生7   98   58   96  86   53
學生8   98   54   63  73   87
學生9   56   69   68  94   70
學生10  71   56  100  63   81
學生11  89   62   63  83   64
學生12  91   50   78  94   78
學生13  78   56   88  83   81
學生14  53   52   81  76   82
學生15  59   78   98  59   92
學生16  78   69   88  53   80
學生17  86   84   96  73   78
學生18  98   69   78  90   76
學生19  79   61   89  56   59
學生20  72   84   52  65   95
學生21  60   87   50  69   82
學生22  98   70   99  92   73
學生23  85   74   58  60   67
學生24  57   61  100  71   53
學生25  83   97   79  72  100
學生26  53  100   69  70   84
學生27  69   52   50  94   83
學生28  68   62   68  67   61
學生29  51   96   75  82   51
學生30  92   54   53  95   63
學生31  70   74   75  97   50
學生32  55   95   57  95   58
學生33  53   63   59  81   50
學生34  54   84   59  86   54
學生35  68   95   92  82   59
學生36  68  100   76  77   97
學生37  97   68   61  53   73
學生38  97   94   55  73  100
學生39  66   84   76  88   87
學生40  82   66   68  81   56
學生41  53   59   62  94   58
學生42  65   78   67  62   95
學生43  78   91   53  90   92
學生44  90  100   90  99   95
學生45  72   71   93  90  100
學生46  80   69   60  82   77
學生47  69   97   68  54   79
學生48  96   95   97  72   61
學生49  73   57   71  84   95
學生50  81   78   79  95   66

In [7]:
sum_series = df['國文'] + df['英文'] + df['數學'] + df['生物'] + df['物理']
average_series = sum_series / 5
average_series

姓名
學生1     87.4
學生2     87.6
學生3     75.6
學生4     71.4
學生5     82.2
學生6     68.0
學生7     78.2
學生8     75.0
學生9     71.4
學生10    74.2
學生11    72.2
學生12    78.2
學生13    77.2
學生14    68.8
學生15    77.2
學生16    73.6
學生17    83.4
學生18    82.2
學生19    68.8
學生20    73.6
學生21    69.6
學生22    86.4
學生23    68.8
學生24    68.4
學生25    86.2
學生26    75.2
學生27    69.6
學生28    65.2
學生29    71.0
學生30    71.4
學生31    73.2
學生32    72.0
學生33    61.2
學生34    67.4
學生35    79.2
學生36    83.6
學生37    70.4
學生38    83.8
學生39    80.2
學生40    70.6
學生41    65.2
學生42    73.4
學生43    80.8
學生44    94.8
學生45    85.2
學生46    73.6
學生47    73.4
學生48    84.2
學生49    76.0
學生50    79.8
dtype: float64

In [8]:
df['總分'] = sum_series
df['平均'] = average_series
df

科目    國文   英文   數學  生物   物理   總分    平均
姓名
學生1   95   92   97  65   88  437  87.4
學生2   98   90   85  86   79  438  87.6
學生3   99   65   93  56   65  378  75.6
學生4   67   56   95  68   71  357  71.4
學生5   98   60   84  92   77  411  82.2
學生6   51   50   80  94   65  340  68.0
學生7   98   58   96  86   53  391  78.2
學生8   98   54   63  73   87  375  75.0
學生9   56   69   68  94   70  357  71.4
學生10  71   56  100  63   81  371  74.2
學生11  89   62   63  83   64  361  72.2
學生12  91   50   78  94   78  391  78.2
學生13  78   56   88  83   81  386  77.2
學生14  53   52   81  76   82  344  68.8
學生15  59   78   98  59   92  386  77.2
學生16  78   69   88  53   80  368  73.6
學生17  86   84   96  73   78  417  83.4
學生18  98   69   78  90   76  411  82.2
學生19  79   61   89  56   59  344  68.8
學生20  72   84   52  65   95  368  73.6
學生21  60   87   50  69   82  348  69.6
學生22  98   70   99  92   73  432  86.4
學生23  85   74   58  60   67  344  68.8
學生24  57   61  100  71   53  342  68.4
學生25  83   97   79  72  100  431  86.2
學生26  53  100   69  70   84  376  75.2
學生27  69   52   50  94   83  348  69.6
學生28  68   62   68  67   61  326  65.2
學生29  51   96   75  82   51  355  71.0
學生30  92   54   53  95   63  357  71.4
學生31  70   74   75  97   50  366  73.2
學生32  55   95   57  95   58  360  72.0
學生33  53   63   59  81   50  306  61.2
學生34  54   84   59  86   54  337  67.4
學生35  68   95   92  82   59  396  79.2
學生36  68  100   76  77   97  418  83.6
學生37  97   68   61  53   73  352  70.4
學生38  97   94   55  73  100  419  83.8
學生39  66   84   76  88   87  401  80.2
學生40  82   66   68  81   56  353  70.6
學生41  53   59   62  94   58  326  65.2
學生42  65   78   67  62   95  367  73.4
學生43  78   91   53  90   92  404  80.8
學生44  90  100   90  99   95  474  94.8
學生45  72   71   93  90  100  426  85.2
學生46  80   69   60  82   77  368  73.6
學生47  69   97   68  54   79  367  73.4
學生48  96   95   97  72   61  421  84.2
學生49  73   57   71  84   95  380  76.0
學生50  81   78   79  95   66  399  79.8