<a href="https://colab.research.google.com/github/eugeniekaow/python0503/blob/main/lesson/lesson4_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
#list
for i in [82,60,60,85,20]:
  print(i)

82
60
60
85
20

In [4]:
#tuple
for i in (58,52,56,20,31):
  print(i)

58
52
56
20
31

In [7]:
desserts ={"Muffin":39,"Scone":25,"Biscuit":20}
desserts["Muffin"]
desserts["Biscuit"]

39

In [9]:
stu1 ={"name":"robert",
    "chinese":78,
    "english":98,
    "math":73}
stu2 ={"name":"alice",
    "chinese":72,
    "english":88,
    "math":63}
stu3 ={"name":"jenny",
    "chinese":72,
    "english":88,
    "math":93}

In [10]:
students = [stu1,stu2,stu3]
students

[{'name': 'robert', 'chinese': 78, 'english': 98, 'math': 73},
 {'name': 'alice', 'chinese': 72, 'english': 88, 'math': 63},
 {'name': 'jenny', 'chinese': 72, 'english': 88, 'math': 93}]

In [12]:
for student in students:
  print("姓名:",student["name"])
  print("國文:",student["chinese"])
  print("英文:",student["english"])
  print("數學:",student["math"])
  print("= = = = = = = = =")

姓名: robert
國文: 78
英文: 98
數學: 73
= = = = = = = = =
姓名: alice
國文: 72
英文: 88
數學: 63
= = = = = = = = =
姓名: jenny
國文: 72
英文: 88
數學: 93
= = = = = = = = =